<form class="page-actions-jump" title="<%- title %>">
  <div class="input-group">
    <input name="rid" type="<%- type %>" class="form-control no-controls" placeholder="<%- placeholder %>" required min="1" step="1">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
    </span>
  </div>
</form>
