.reports-filter-summary {
  display: none;
}
.reports-filter-user {
  width: 225px;
}
.table-bordered .reports-table-rowGroup > td {
  border-top-width: 2px!important;
  font-weight: bold;
}
.reports-table-summary > td {
  border-top-width: 2px!important;
  font-weight: bold;
}
.table-bordered .reports-table-summary > td:first-child {
  border-bottom-color: #fff!important;
  border-left-color: #fff!important;
}
@media print {
  .reports-table th,
  .reports-table td {
    font-size: 10px!important;
    border-color: #000!important;
    padding: 2px!important;
  }
  .reports-filter {
    padding: 0!important;
    border: 0!important;
  }
  .reports-filter .form-group,
  .filter-toggle {
    display: none!important;
  }
  .reports-filter-summary {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
}
