<div class="panel panel-default">
  <div class="panel-heading">
    <%- t('transportOrders', 'PANEL:TITLE:history') %>
  </div>
  <div class="panel-body">
    <p class="text-mono"><%- notes %></p>
  </div>
</div>
