<div class="panel-heading is-with-actions">
  <%- panelTitle %>
  <div class="panel-actions">
    <button id="<%- idPrefix %>-toggle" class="btn btn-default" type="button"><i class="fa fa-chevron-up"></i></button>
    <% if (removable) { %>
    <button id="<%- idPrefix %>-removeItem" class="btn btn-default" type="button"><i class="fa fa-times"></i></button>
    <% } %>
  </div>
</div>
