.tp-filter-owner,
.tp-filter-driver {
  width: 225px;
}
.filter-form .tp-filter-date {
  width: 165px;
}
.tp-filter-to {
  margin-left: 0!important;
}
.tp-form .panel .panel {
  margin-top: -20px;
  margin-left: -15px;
  margin-right: -15px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.tp-form .panel .panel:first-child {
  margin-top: -15px;
}
.tp-form .panel:last-child {
  margin-bottom: 0;
}
.tp-form textarea {
  font-family: Consolas, "Lucida Console", Monaco, monospace;
}
.tp-form-kindGroup {
  margin-bottom: 13px;
}
.control-label.tp-form-quantity {
  display: block;
}
.form-control.tp-form-quantity {
  display: inline-block;
  width: 256px;
}
.tp-form-quantity.is-with-unit {
  width: 145px;
  margin-right: 1px;
}
.tp-form-unit {
  display: inline-block;
  width: 110px;
}
.tp-form-number {
  width: 256px;
}
.tp-form-driver {
  padding-bottom: 0;
  padding-right: 0;
}
.tp-form-driver-fields,
.tp-form-driver-help {
  display: inline-block;
  vertical-align: top;
}
.tp-form-driver-fields {
  margin-right: 1em;
}
.tp-form-driver-fields > .form-group:last-child {
  margin-bottom: 1em;
}
.tp-form-driver-help > .form-group {
  display: inline-block;
  vertical-align: top;
  margin-right: 1em;
  margin-bottom: 1em;
}
.tp-form-cashGroup {
  margin-top: -10px;
}
.tp-form .control-label.radio-inline {
  margin-bottom: 5px;
}
.tp-list-table .table,
.tp-list-table .table tr th,
.tp-list-table .table tr td,
.tp-list-table > .table-responsive,
.tp-list-table .actions .btn {
  border-color: #bbb;
}
.tp-list-table td.actions {
  text-align: right;
}
.list-item .tp-user {
  vertical-align: middle;
}
.list-item .tp-user-tel {
  white-space: nowrap;
}
.tp-confirm-indicator {
  line-height: inherit;
}
.tp-confirm-indicator + span {
  margin-left: 0;
}
.tp-list-table-details > td {
  padding: 0!important;
}
.tp-list-table-details-wrapper {
  background: #fff;
  padding: 5px 10px 5px 10px;
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
.tp-list-table-details .prop:hover {
  background-color: transparent;
}
.tp-list-table-details .prop-name {
  width: 1px;
}
.tp-list-table-details .prop:nth-child(even) {
  background-color: #fbfbfb;
}
.tp-list-table-details .prop:last-child:nth-child(even) {
  border-bottom: 5px solid #fff;
}
.tp-list-table-details time {
  display: block;
  font-size: 0.8em;
  font-weight: normal;
}
.tp-details .props,
.tp-details .prop,
.tp-details .prop-name,
.tp-details .prop-value {
  display: block;
  width: 100%;
}
.tp-details .prop-name {
  padding-bottom: 0;
  white-space: normal;
}
.tp-details .prop-value {
  padding-top: 0;
}
.tp-details > .row {
  margin-left: -1em;
  margin-right: -1em;
}
.tp-details > .row > .col-md-3 {
  padding-left: 1em;
  padding-right: 1em;
}
.tp-details > .row .panel {
  margin-bottom: 1em;
}
.tp-details .is-changed .prop-value {
  color: #333;
}
.tp-history-entry {
  padding: .5em;
}
.tp-history-entry {
  border-top: 1px dotted #d4d4d4;
}
.tp-history-entry:nth-child(odd) {
  background-color: #fbfbfb;
}
.tp-history-entry:hover {
  background-color: #ffffd6;
}
.tp-history-entry:first-child {
  border-top: 0;
}
.is-comments-only .is-without-comment,
.is-comments-only .table {
  display: none;
}
.tp-history-entry-info {
  margin-bottom: .25em;
}
.tp-history-entry-user {
  font-weight: bold;
}
.tp-history-entry-text {
  font-size: 1.1em;
}
.tp-history-entry-changes {
  width: auto;
  margin-bottom: 0.25em;
  background-color: #fff;
}
@media (min-width: 992px) {
  .tp-details > .row > .col-md-3 {
    margin-left: 0;
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  .tp-form-number,
  .filter-form .tp-filter-date {
    width: 100%;
  }
}
