<span class="orders-user">
  <span class="orders-user-name"><%= user.firstName %> <%= user.lastName %></span>
  <% if (user.tel) { %>
  <span class="orders-user-tel">(<%= user.tel %>)</span>
  <% } %>
</span>
