.table {
  margin-bottom: 1em;
}
.table-responsive {
  margin-bottom: 1em;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.table-responsive > .table-bordered {
  border-left: 0;
  border-right: 0;
}
.table-responsive > .table-bordered > thead > tr > th:first-child,
.table-responsive > .table-bordered > tbody > tr > td:first-child {
  border-left: 0;
}
.table-responsive > .table-bordered > thead > tr > th:last-child,
.table-responsive > .table-bordered > tbody > tr > td:last-child {
  border-right: 0;
}
.table-bordered > thead > tr > th.sortable:hover {
  border-bottom-color: #428BCA;
}
.table > tbody > tr > td {
  vertical-align: middle;
}
td.is-number {
  font-family: Consolas, Menlo, Monaco, monospace;
  text-align: right;
}
th.is-min,
td.is-min {
  width: 1px;
  white-space: nowrap;
}
.table .actions {
  white-space: nowrap;
  width: 1px;
}
.table .actions .btn {
  min-width: 40px;
  box-sizing: border-box;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #FFFFD6;
}
