<div class="form-group">
  <div id="<%- idPrefix %>-cash" class="btn-group filter-btn-group" data-toggle="buttons">
    <label class="btn btn-default"><input type="checkbox" name="self" value="self"><i class="fa fa-users"></i><span><%- t('transportOrders', 'symbol:self') %></span></label>
    <label class="btn btn-default"><input type="checkbox" name="cash" value="cash"><i class="fa fa-money"></i><span><%- t('transportOrders', 'PROPERTY:cash') %></span></label>
  </div>
</div>
