<form class="well filter-form reports-filter">
  <% include _statusFilter.ejs %>
  <% include _dateFilter.ejs %>
  <% include _cashFilter.ejs %>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%- t('reports', 'filter:submit') %></span></button>
  </div>
  <p id="<%- idPrefix %>-summary" class="reports-filter-summary"></p>
</form>
